body {
  background-color: hsla(176, 62%, 66%, 1);
}
.App {
  /* font-family: sans-serif; */
  /* text-align: center; */
}

/* .data-item {
  background-color: green;
  color: whitesmoke;
} 
 .box-item {
  background-color: greenyellow;
  color: rgb(56, 100, 58);
} */
